/* src/app/ClientTable.module.css */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 20px; /* Adjusted to a smaller value */
}

.tableContainer {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px; /* Increase max-width if needed */
}

.searchForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.searchInput {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    min-width: 120px; /* Minimum width for inputs */
}

.searchButton, .exportButton {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0070f3;
    color: white;
    margin: 5px;
}

.searchButton:hover, .exportButton:hover {
    background-color: #005bb5;
}

.exportButton {
    background-color: #4CAF50; /* Green background for export button */
}

.exportButton:hover {
    background-color: #45a049; /* Darker green on hover */
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.dataTable th, .dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.dataTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.paginationContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dropdown {
    margin-right: 20px;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination button {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0070f3;
    color: white;
}
